*{
   font-family:Trebuchet MS;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

.btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:#fff;;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn{
   background-color: #3498db;
}

.btn:hover{
   background-color:#2980b9;
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: #e74c3c;
   color:#fff;
   font-size: 20px;
}

.form-container{
   min-height: 100vh;
   background-color: #eee;;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.form-container form{
   padding:20px;
   background-color:#fff;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 500px;
   border-radius: 5px;
}

.form-container form h3{
   margin-bottom: 10px;
   font-size: 30px;
   color:#333;
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 18px;
   color:#333;
   margin:10px 0;
   background-color:#eee;;
}

.form-container form p{
   margin-top: 15px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#e74c3c;
}

.form-container form p a:hover{
   text-decoration: underline;
}

